@{Layout="Layout.cshtml";}

<p>My name is Alisa Vo. I'm currently a Senior attending the University of Oklahoma and will be graduating in December 2019. I'm a positive, ambitious, and goal-driven student, who is seeking an internship or full time position to enhance my skills in Management Information Systems. With my openness to learn, enthusiasm, and interpersonal skills, I hope to incorporate my qualities with my skill sets to become a strong asset. </p>

  
