<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <system.web>

    <customErrors mode="Off"/>

  </system.web>

  <connectionStrings>

    <add name="my-connection" providerName="System.Data.SqlClient" connectionString="Server=tcp:ktran.database.windows.net,1433;Initial Catalog=MIS3353Homework7;Persist Security Info=False;User ID=tran0014;Password=H0ang0014;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />

  </connectionStrings>

</configuration>
